.terms-and-conditions {
  line-height: 18px;
}
.span {
  line-height: 16px;
  color: var(--gray-5);
}
.rectangle,
.terms-and-conditions-container {
  position: absolute;
  top: 726px;
  left: 994px;
}
.rectangle {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--default-white);
  border: 1px solid var(--divider);
  box-sizing: border-box;
  height: 36px;
}
.usernamebankname {
  position: absolute;
  top: 9px;
  left: 8px;
  font-size: var(--h2-size);
  font-family: var(--header-5);
  color: var(--gray-5);
}
.left-icon,
.right-icon {
  position: absolute;
  top: 6px;
  display: none;
}
.right-icon {
  right: 8px;
  text-align: right;
}
.left-icon {
  left: 8px;
}
.input05textfield01oneline01 {
  position: absolute;
  width: 100%;
  top: 25px;
  right: 0;
  left: 0;
  height: 36px;
  cursor: pointer;
}
.id {
  position: absolute;
  top: -2px;
  left: 0;
  font-size: var(--h2-size);
  line-height: 20px;
  font-family: var(--header-5);
  color: var(--gray-6);
}
.input05textfield01oneline02,
.log-in-your {
  position: absolute;
  top: 80px;
  right: 0;
  width: 300px;
  height: 61px;
}
.log-in-your {
  top: 0;
  right: 24px;
  font-size: var(--header-2-size);
  line-height: 36px;
  display: flex;
  font-family: var(--header-5);
  color: var(--gray-6);
  align-items: center;
  width: 276px;
  height: 32px;
}
.group,
.log-in-wrapper {
  position: absolute;
  width: 300px;
}
.group {
  top: 0;
  right: 0;
  height: 141px;
}
.log-in-wrapper {
  top: calc(50% - 197px);
  left: calc(50% - 150px);
  height: 394px;
}
.password {
  position: absolute;
  top: 9px;
  left: 8px;
  font-size: var(--h2-size);
  font-family: var(--header-5);
  color: var(--gray-5);
  display: none;
}
.input05textfield01oneline011 {
  position: absolute;
  width: 100%;
  top: 25px;
  right: 0;
  left: 0;
  height: 36px;
}
.input05textfield01oneline021,
.log-in1 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 150px);
  width: 300px;
  height: 61px;
}
.log-in1 {
  top: calc(50% - 197px);
  left: calc(50% + 191px);
  height: 394px;
  font-size: var(--font-size-base);
  color: var(--text-subtle-hint);
  font-family: var(--body-input-14px-sb);
}
.sign-in-image-child,
.sign-in-image-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sign-in-image-item {
  height: 85.64%;
  width: 68.53%;
  top: 7.16%;
  right: 1.88%;
  bottom: 7.2%;
  left: 29.59%;
  object-fit: contain;
}
.group-child4,
.sign-in-image {
  position: absolute;
  height: 100%;
  width: 58.13%;
  top: 0;
  right: 41.88%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.group-child4 {
  height: 58.1%;
  width: 81.42%;
  right: 9.29%;
  bottom: 41.9%;
  left: 9.29%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.group-icon1,
.group-icon2,
.group-icon3,
.group-icon4,
.group-icon5 {
  position: absolute;
  height: 100%;
  width: 14.06%;
  top: 0;
  right: 85.94%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon2,
.group-icon3,
.group-icon4,
.group-icon5 {
  height: 97.28%;
  width: 14.71%;
  right: 61.81%;
  bottom: 2.72%;
  left: 23.48%;
}
.group-icon3,
.group-icon4,
.group-icon5 {
  width: 3.87%;
  right: 48.52%;
  left: 47.61%;
}
.group-icon4,
.group-icon5 {
  width: 19.74%;
  right: 19.61%;
  left: 60.65%;
}
.group-icon5 {
  width: 10.58%;
  right: 0;
  left: 89.42%;
}
.group-child5,
.group-group {
  position: absolute;
  height: 19.37%;
  width: 100%;
  top: 69.83%;
  right: 0;
  bottom: 10.8%;
  left: 0;
}
.group-child5 {
  height: 5.4%;
  width: 94.06%;
  top: 94.6%;
  right: 3.1%;
  bottom: 0;
  left: 2.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-container {
  position: absolute;
  height: 9.37%;
  width: 5.38%;
  top: 5.21%;
  right: 3.77%;
  bottom: 85.42%;
  left: 90.85%;
}
.log-in {
  width: 100%;
  position: relative;
  background-color: var(--default-white);
  height: 810px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-small-12px-r-size);
  color: var(--color-darkcyan-100);
  font-family: var(--header-5);
}
