.newsAndBlog {
  position: relative;
  font-weight: 600;
}
.textChild {
  width: 223px;
  position: relative;
  background-color: var(--color-darkcyan-100);
  height: 4px;
}
.crimeInKarachi {
  width: 630px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blog,
.card,
.cards,
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-21xl);
}
.blog,
.card,
.cards {
  align-items: flex-start;
}
.blog,
.cards {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.blog {
  flex-direction: column;
  padding: var(--padding-41xl) var(--padding-53xl);
  gap: var(--gap-41xl);
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--default-black);
  font-family: var(--h2);
}
