.view {
  top: 22px;
  left: calc(50% + 113px);
}
.complaint,
.div,
.view {
  position: absolute;
  line-height: 20px;
  font-weight: 600;
}
.complaint {
  width: calc(100% - 178px);
  top: 12px;
  left: 67px;
  text-align: left;
  display: flex;
  align-items: center;
  height: 40px;
}
.div {
  top: 22px;
  left: 13px;
  text-align: center;
}
.complaint1 {
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: var(--color-teal-300);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 960px;
  height: 64px;
  text-align: right;
  font-size: var(--h2-size);
  color: var(--color-darkslategray-100);
  font-family: var(--h2);
}
