.complaint,
.div,
.view {
  position: absolute;
  font-weight: 600;
}
.view {
  top: 20px;
  left: calc(50% + 108px);
  font-size: var(--font-size-base);
  line-height: 24px;
}
.complaint,
.div {
  top: 22px;
  line-height: 20px;
}
.complaint {
  width: calc(100% - 183px);
  left: 67px;
  text-align: left;
  display: inline-block;
  height: 65px;
}
.div {
  left: 11px;
  text-align: center;
}
.complaint4 {
  position: absolute;
  top: 216px;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: var(--color-teal-300);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 960px;
  height: 64px;
  text-align: right;
  font-size: var(--h2-size);
  color: var(--color-darkslategray-100);
  font-family: var(--h2);
}
