.logoChild {
  width: 59.8px;
  position: relative;
  height: 41.8px;
  object-fit: cover;
}
.crimePortal {
  position: relative;
  font-weight: 600;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ourCrimeMonitoring {
  width: 394px;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 32px;
  font-family: var(--h1-30px-sb);
  color: var(--color-gray-400);
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.logoTextIcon {
  width: 377px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.home,
.pages {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pages {
  font-weight: 600;
  white-space: nowrap;
}
.home {
  line-height: 26px;
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.text,
.text1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text1 {
  gap: var(--gap-base);
  font-size: var(--font-size-base);
}
.text {
  width: 128px;
  gap: var(--gap-5xl);
}
.murder {
  position: relative;
}
.text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.getUpdatesOf,
.newsletter {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsletter {
  font-size: var(--font-size-xl);
  font-weight: 600;
  white-space: nowrap;
}
.getUpdatesOf {
  align-self: stretch;
  line-height: 16px;
  color: var(--color-gray-400);
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.emailAddress {
  position: absolute;
  top: 20px;
  left: 21px;
  line-height: 16px;
}
.button,
.input {
  width: 306px;
  border-radius: var(--br-xs);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
}
.input {
  position: relative;
  border: 1px solid var(--color-gray-500);
  color: var(--color-gray-500);
}
.button {
  background-color: var(--color-darkcyan-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-21xl);
  font-size: var(--font-size-base);
}
.textIcons,
.textInputButton {
  display: flex;
  align-items: flex-start;
}
.textInputButton {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--h2-size);
}
.textIcons {
  width: 1296px;
  flex-direction: row;
  justify-content: space-between;
}
.copyrightCrimePortal {
  position: relative;
  line-height: 26px;
  white-space: pre-wrap;
}
.privacyPolicy {
  position: relative;
  text-decoration: underline;
  line-height: 26px;
}
.text4,
.text5 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.text5 {
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--default-white);
}
.text4 {
  width: 1296px;
  justify-content: space-between;
  font-size: var(--h2-size);
  color: var(--color-gray-600);
}
.footer,
.footer1 {
  width: 1440px;
  background-color: var(--default-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.footer1 {
  padding: 0 var(--padding-183xl) var(--padding-41xl);
  gap: var(--gap-61xl);
}
.footer {
  padding: var(--padding-81xl) var(--padding-183xl) var(--padding-41xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--default-white);
  font-family: var(--h2);
}
