.sendResponse {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--default-black);
}
.user61Icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.fullName,
.user61Icon {
  position: relative;
}
.user61Parent {
  width: 265px;
  border-radius: var(--br-xs);
  background-color: var(--default-white);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.hugeiconscomplaint {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.form,
.formInner,
.messageSquareParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.messageSquareParent {
  align-items: center;
  gap: var(--gap-xs);
}
.form,
.formInner {
  width: 265px;
  border-radius: var(--br-xs);
  background-color: var(--default-white);
  height: 198px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.form {
  width: 306px;
  border-radius: var(--br-xl);
  background-color: var(--color-azure);
  height: 556px;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-xl);
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--gray-600);
  font-family: var(--h2);
}
