.rectangle {
  position: absolute;
  width: calc(100% + 2px);
  top: -1px;
  right: -1px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--default-white);
  border: 2px solid var(--pink);
  box-sizing: border-box;
  height: 38px;
}
.adkfj,
.pleaseUseFormat {
  position: absolute;
  font-family: var(--header-5);
}
.adkfj {
  top: 9px;
  left: 8px;
  font-size: var(--h2-size);
  color: var(--text-default);
}
.pleaseUseFormat {
  width: calc(100% - 16px);
  top: 44px;
  left: 16px;
  display: inline-block;
}
.exclamationCircle {
  position: absolute;
  top: 42px;
  left: 0;
  font-weight: 900;
  color: var(--pink);
}
.leftIcon,
.rightIcon {
  position: absolute;
  top: 6px;
  font-size: var(--font-size-base);
  display: none;
}
.rightIcon {
  right: 8px;
  text-align: right;
}
.leftIcon {
  left: 8px;
}
.passwordsDoNotMatch,
.pleseUseFormatUsernamebank,
.requiredField {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 59px;
}
.passwordsDoNotMatch,
.requiredField {
  top: 100px;
}
.passwordsDoNotMatch {
  top: 197px;
}
.pleseUseFormatUsernamebankParent {
  position: absolute;
  top: 269px;
  left: 880px;
  width: 300px;
  height: 256px;
  text-align: left;
  font-size: var(--body-small-12px-r-size);
  color: var(--text-subtle-hint);
  font-family: var(--h1-30px-sb);
}
