.frameChild {
  width: 65px;
  position: relative;
  border-top: 4px solid var(--separator-light-default);
  box-sizing: border-box;
  height: 4px;
}
.provisionsMonth {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.march2024 {
  position: relative;
  line-height: 22px;
}
.featherIconCalendar {
  width: 14px;
  position: relative;
  height: 14px;
}
.march2024Parent {
  border-radius: var(--br-9xs);
  background-color: var(--default-white);
  border: 1px solid var(--separator-light-default);
  overflow: hidden;
  padding: var(--padding-9xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  font-size: var(--h2-size);
  color: var(--light-black);
}
.featherIconMoreHorizontalWrapper,
.lineParent,
.march2024Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.featherIconMoreHorizontalWrapper {
  border-radius: var(--br-9xs);
  background-color: var(--default-white);
  border: 1px solid var(--separator-light-default);
  overflow: hidden;
  padding: var(--padding-5xs);
}
.lineParent {
  position: absolute;
  top: 0;
  left: 743.8px;
  width: 520.2px;
  height: 39px;
  gap: var(--gap-11xl);
}
.totalVisits {
  position: relative;
  line-height: 28px;
}
.featherIconAlertCircle {
  width: 18px;
  position: relative;
  height: 18px;
}
.totalVisitsParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 150.8px;
  height: 36.4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--light-black);
}
.m,
.shapeIcon {
  position: absolute;
}
.shapeIcon {
  height: 45.86%;
  width: 93.01%;
  top: 29.62%;
  right: 0.1%;
  bottom: 24.51%;
  left: 6.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.m {
  top: calc(50% - 154.75px);
  left: 0;
  width: 49.4px;
}
.m,
.m1,
.m2 {
  line-height: 22px;
  display: inline-block;
  height: 28.6px;
}
.m1 {
  position: absolute;
  top: calc(50% - 61.05px);
  left: 0;
  width: 48.1px;
}
.m2 {
  top: calc(50% + 32.55px);
  width: 45.5px;
}
.m2,
.m3,
.mParent {
  position: absolute;
  left: 0;
}
.m3 {
  top: calc(50% + 126.15px);
  line-height: 22px;
  display: inline-block;
  width: 45.5px;
  height: 28.6px;
}
.mParent {
  top: calc(50% - 169.7px);
  width: 49.4px;
  height: 309.5px;
  text-align: left;
}
.groupChild,
.groupInner,
.groupItem,
.lineDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--separator-light-default);
  box-sizing: border-box;
  width: 1179.2px;
  height: 1px;
}
.groupInner,
.groupItem,
.lineDiv {
  top: 93.7px;
}
.groupInner,
.lineDiv {
  top: 187.3px;
}
.lineDiv {
  top: 280.9px;
}
.groupIcon,
.lineGroup {
  position: absolute;
  top: 24.7px;
  left: 85.8px;
  width: 1178.2px;
  height: 280.9px;
}
.groupIcon {
  height: 70.21%;
  width: 93.11%;
  top: 14.3%;
  right: 0.1%;
  bottom: 15.49%;
  left: 6.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  top: calc(50% - 14.3px);
  left: 0;
  line-height: 22px;
  text-align: left;
  display: inline-block;
  width: 6.5px;
}
.div,
.div1,
.div2 {
  position: absolute;
  height: 28.6px;
}
.div1 {
  top: calc(50% - 14.3px);
  left: 189.9px;
  line-height: 22px;
  display: inline-block;
  width: 11.7px;
}
.div2 {
  left: 381px;
  width: 18.2px;
}
.div2,
.div3,
.div4,
.div5 {
  top: calc(50% - 14.3px);
  line-height: 22px;
  display: inline-block;
}
.div3 {
  position: absolute;
  left: 576.1px;
  width: 18.2px;
  height: 28.6px;
}
.div4,
.div5 {
  width: 22.1px;
}
.div4 {
  position: absolute;
  left: 769.9px;
  height: 28.6px;
}
.div5 {
  left: 964.9px;
}
.div5,
.div6,
.parent {
  position: absolute;
  height: 28.6px;
}
.div6 {
  top: calc(50% - 14.3px);
  right: 0;
  line-height: 22px;
  text-align: right;
  display: inline-block;
  width: 23.4px;
}
.parent {
  top: calc(50% + 151.5px);
  left: 85.8px;
  width: 1176.9px;
}
.groupChild1 {
  position: absolute;
  top: 153.5px;
  left: 106.6px;
  border-right: 1px dashed var(--color-darkcyan-100);
  box-sizing: border-box;
  width: 1px;
  height: 151.8px;
}
.shapeIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label {
  line-height: 12px;
}
.label,
.label1,
.label2 {
  position: relative;
}
.label1 {
  font-size: var(--h3-22px-sb-size);
  line-height: 28px;
  color: var(--light-black);
}
.label2 {
  font-size: var(--body-small-12px-r-size);
  line-height: 20px;
}
.labelParent {
  position: absolute;
  top: 18.2px;
  left: 18.2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.selector,
.tooltip {
  position: absolute;
  height: 41.87%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 58.13%;
  left: 0;
}
.selector {
  height: 8.54%;
  width: 12.12%;
  top: 46.17%;
  right: 44.27%;
  bottom: 45.28%;
  left: 43.62%;
  box-shadow: 0 2.7px 2.67px rgba(50, 50, 71, 0.06),
    0 2.7px 5.33px rgba(50, 50, 71, 0.06);
  border-radius: var(--br-3xs);
  background-color: var(--color-darkcyan-100);
  border: 4px solid var(--default-white);
  box-sizing: border-box;
}
.lineContainer,
.shapeParent {
  position: absolute;
  top: 0;
  left: 486.4px;
  width: 214.6px;
  height: 304.3px;
  font-size: var(--body-label-8px-r-size);
  color: var(--color-darkslategray-400);
}
.shapeParent {
  height: 84.71%;
  width: 100%;
  top: 15.29%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--grey-40);
}
.frameParent {
  width: 1264px;
  position: relative;
  height: 425.2px;
  text-align: left;
  font-size: var(--body-small-12px-r-size);
  color: var(--grey-50);
  font-family: var(--h1-30px-sb);
}
