.logoChild {
  width: 59.8px;
  position: relative;
  height: 41.8px;
  object-fit: cover;
}
.crimePortal {
  width: 130px;
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
}
.home {
  position: relative;
  font-weight: 600;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.aboutUs {
  position: relative;
  font-weight: 500;
  opacity: 0.6;
}
.text1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
  cursor: pointer;
}
.contactUs,
.crimeResponses {
  position: relative;
  font-weight: 500;
  opacity: 0.6;
}
.crimeResponses {
  width: 145px;
  display: inline-block;
  flex-shrink: 0;
}
.contactUs {
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.login {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.buttons,
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.header {
  width: 1296px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
}
.reportTrackPrevent {
  position: relative;
  line-height: 80px;
}
.safeguardingTogetherYour {
  align-self: stretch;
  position: relative;
  font-size: var(--h3-22px-sb-size);
  font-weight: 500;
  color: var(--color-gray-400);
}
.text5,
.text6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text6 {
  align-items: flex-start;
  gap: var(--gap-xs);
}
.text5 {
  align-items: center;
}
.crimeTitle {
  position: relative;
  font-weight: 500;
}
.text7 {
  align-self: stretch;
  border-right: 1px solid var(--color-silver);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
}
.chevronDownIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.textIcon {
  border-right: 1px solid var(--color-silver);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.textIcon,
.textIcon1 {
  align-self: stretch;
  width: 180px;
  gap: var(--gap-xs);
}
.textIcon1,
.textIcons,
.textIconsbg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.textIcons {
  align-self: stretch;
  gap: var(--gap-xl);
}
.textIconsbg {
  background-color: var(--default-white);
  height: 80px;
  overflow: hidden;
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.searchIcon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.button,
.search {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  align-self: stretch;
  background-color: var(--color-darkcyan-100);
  align-items: center;
  padding: var(--padding-sm) var(--padding-9xl);
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--default-white);
}
.search {
  border-radius: var(--br-base);
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.textInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.city1Icon {
  width: 28px;
  position: relative;
  height: 28px;
  display: none;
}
.building1Icon,
.city1Icon,
.iconbg {
  overflow: hidden;
  flex-shrink: 0;
}
.building1Icon {
  width: 28px;
  position: relative;
  height: 28px;
  object-fit: cover;
}
.iconbg {
  width: 60px;
  border-radius: var(--br-159xl);
  background-color: var(--color-darkcyan-100);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.areasLocated,
.b {
  position: relative;
}
.areasLocated {
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.iconText,
.iconsText {
  display: flex;
  flex-direction: row;
}
.iconText {
  width: 160px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.iconsText {
  width: 600px;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-xl);
}
.textinputsIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--font-size-26xl);
}
.logos {
  width: 1440px;
  background-color: var(--color-darkslategray-300);
  height: 14px;
}
.hero {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-147xl);
  box-sizing: border-box;
  gap: var(--gap-81xl);
  background-image: url(/public/hero2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--default-white);
  font-family: var(--h1-30px-sb);
}
