.phoneIcon {
  width: 28px;
  position: relative;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.callForInquiry,
.div {
  position: relative;
  line-height: 24px;
}
.div {
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.iconText {
  width: 212px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--default-black);
  font-family: var(--h1-30px-sb);
}
