.complaint1Group,
.complaint1Parent {
  position: absolute;
  left: 0;
  width: 960px;
  height: 280px;
}
.complaint1Parent {
  top: 359px;
  text-align: right;
  font-family: var(--h2);
}
.complaint1Group {
  top: 647px;
}
.complaintBox {
  position: absolute;
  top: 18px;
  left: calc(50% - 61.5px);
  line-height: 16px;
  text-transform: uppercase;
}
.div {
  position: absolute;
  top: 71px;
  left: calc(50% - 7.5px);
  font-size: var(--font-size-xl);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--h2);
  color: var(--default-black);
}
.activeSubs,
.line {
  position: absolute;
  box-sizing: border-box;
}
.line {
  top: -0.5px;
  left: calc(50% - 23px);
  border-top: 1px solid var(--accent-accent-p-50);
  width: 47px;
  height: 1px;
}
.activeSubs {
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  border-radius: var(--br-base);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(48, 150, 137, 0.2),
    rgba(58, 144, 134, 0.42)
  );
  border: 1px solid var(--color-lightsteelblue);
  width: 239px;
  height: 156px;
}
.compliants {
  position: absolute;
  top: 18px;
  left: calc(50% - 49.5px);
  line-height: 16px;
  text-transform: uppercase;
}
.div1 {
  position: absolute;
  top: 71px;
  left: calc(50% - 13.5px);
  font-size: var(--font-size-xl);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--h2);
  color: var(--default-black);
}
.highestSubs,
.line1 {
  position: absolute;
  box-sizing: border-box;
}
.line1 {
  top: -0.5px;
  left: calc(50% - 23px);
  border-top: 1px solid var(--primary-primary-100);
  width: 47px;
  height: 1px;
}
.highestSubs {
  top: 0;
  left: 257px;
  backdrop-filter: blur(10px);
  border-radius: var(--br-base);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(48, 150, 137, 0.2),
    rgba(58, 144, 134, 0.42)
  );
  border: 1px solid var(--color-lightsteelblue);
  width: 239px;
  height: 156px;
}
.resolvedComplaints {
  position: absolute;
  top: 18px;
  left: calc(50% - 92px);
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 183px;
}
.div2 {
  position: absolute;
  top: 71px;
  left: calc(50% - 13px);
  font-size: var(--font-size-xl);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--h2);
  color: var(--default-black);
}
.line2,
.lowestSubs {
  position: absolute;
  box-sizing: border-box;
}
.line2 {
  top: -0.5px;
  left: calc(50% - 23.5px);
  border-top: 1px solid var(--accent-accent-s-50);
  width: 47px;
  height: 1px;
}
.lowestSubs {
  top: 0;
  left: 514px;
  backdrop-filter: blur(10px);
  border-radius: var(--br-base);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(48, 150, 137, 0.2),
    rgba(58, 144, 134, 0.42)
  );
  border: 1px solid var(--color-lightsteelblue);
  width: 238px;
  height: 156px;
}
.activeSubsParent {
  position: absolute;
  top: 8px;
  left: 101px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  width: 752px;
  height: 156px;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-200);
}
.rectangle,
.tabsBg {
  position: absolute;
  top: 0;
  background-color: var(--color-darkcyan-100);
}
.tabsBg {
  left: 960px;
  border-radius: var(--br-base);
  width: 960px;
  height: 75.9px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.rectangle {
  left: 0;
  border-radius: var(--br-980xl);
  width: 154px;
  height: 36px;
}
.peopleResponses {
  position: absolute;
  top: calc(50% - 8.3px);
  left: calc(50% - 93.05px);
  line-height: 16px;
  font-weight: 600;
}
.rectangle1,
.upcomingBills {
  position: absolute;
  top: 10.6px;
  left: 481.5px;
  width: 452.1px;
  height: 54.6px;
}
.rectangle1 {
  top: 10.4px;
  left: 26.4px;
  backdrop-filter: blur(10px);
  border-radius: var(--br-base);
  background-color: var(--color-dimgray-100);
  border: 1px solid var(--color-lightsteelblue);
  box-sizing: border-box;
  width: 455px;
}
.complaints {
  position: absolute;
  top: calc(50% - 5.85px);
  left: calc(50% - 348.3px);
  line-height: 16px;
  font-weight: 600;
  color: var(--default-white);
  display: inline-block;
  width: 245.7px;
  height: 11.8px;
}
.tabsBgParent {
  position: absolute;
  top: 223px;
  left: 0;
  width: 960px;
  height: 75.9px;
  font-size: var(--font-size-xl);
  color: var(--color-gainsboro-100);
}
.infoBlockJobs {
  width: 960px;
  position: relative;
  background-color: var(--default-white);
  height: 280px;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--color-darkslategray-100);
  font-family: var(--h1-30px-sb);
}
