.imgIcon,
.imgIcon1,
.imgIcon2 {
  width: 306px;
  position: relative;
  border-radius: var(--br-xl);
  height: 560px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imgIcon1,
.imgIcon2 {
  height: 338px;
}
.imgIcon2 {
  height: 200px;
}
.imgs,
.imgs1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.imgs {
  flex-direction: row;
}
.safetyTogether {
  color: var(--color-teal-100);
}
.enhancingCommunitySafetyContainer {
  width: 612px;
  position: relative;
  display: inline-block;
}
.inOurShared {
  width: 600px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-gray-300);
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.enhancingCommunitySafetyTogParent {
  gap: var(--gap-21xl);
}
.enhancingCommunitySafetyTogParent,
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconsText,
.textIcons {
  display: flex;
  gap: var(--gap-21xl);
}
.iconsText {
  height: 157px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
}
.textIcons {
  height: 562px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.excellence11Icon {
  width: 515.4px;
  position: relative;
  height: 515.4px;
  overflow: hidden;
  flex-shrink: 0;
}
.infoBlock2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-53xl);
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--default-black);
  font-family: var(--h1-30px-sb);
}
