.logInYour {
  position: absolute;
  top: 0;
  right: 24px;
  font-size: var(--header-2-size);
  line-height: 36px;
  display: flex;
  font-family: var(--header-5);
  color: var(--gray-6);
  align-items: center;
  width: 276px;
  height: 32px;
}
.group,
.logIn,
.logInWrapper {
  position: absolute;
  width: 300px;
}
.group {
  top: 0;
  right: 0;
  height: 141px;
}
.logIn,
.logInWrapper {
  top: calc(50% - 197px);
  left: calc(50% - 150px);
  height: 394px;
}
.logIn {
  left: calc(50% + 191px);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--text-subtle-hint);
  font-family: var(--h1-30px-sb);
}
