.iconTextChild {
  width: 60px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.safeSecure {
  position: relative;
  font-weight: 600;
}
.iconText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iconTextItem {
  width: 60px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.row {
  height: 157px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--default-black);
  font-family: var(--h1-30px-sb);
}
